*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, th, td { margin:0; padding:0; font-style: italic; font-family: "IM Fell English","Helvetica Neue", sans-serif; }
table { border-collapse:collapse; border-spacing:0 }
iframe { border: 0; margin: 0; padding: 0; }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}
body { background: #3d3356; color: #fff; }
div#container { width: 100%; height: 100%; background: url(../art/placeholder_bg.jpg) bottom center no-repeat; text-align: center; }
h2 { font-size: 1em; margin-top: 4px; }
div#container div#titleblock { position: absolute; }
div#container div#logos { position: absolute; bottom: 20; left: 20; }
div#container div#pinchelines { position: absolute; width: 4px; background: url(../art/placeholder_dots.png) repeat-y; }
div#audiodiv { display: none; }
div#container div#preaching { position: absolute; text-align: left; }
div#container div#preaching ul { margin-top: 4px; }
div#container div#preaching ul li { float: left; margin-right: 4px; }