*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, th, td { margin:0; padding:0; font-family: "EB Garamond","Helvetica Neue", sans-serif; }
table { border-collapse:collapse; border-spacing:0 }
iframe { border: 0; margin: 0; padding: 0; }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}
body { background: #3d3356; 
	background-image:  url(../art/e_bg.jpg), url(../art/e_bg_b.jpg); 
	background-position: top left, 0px 800px;
	background-repeat: repeat-x, repeat-x;
	color: #fff; 
	min-width: 1024; }
div#container { 
	width: 100%; 
	height: 100%; 
	/*background: url(../art/placeholder_bg.jpg) bottom center no-repeat;*/
	text-align: center; 
/*	pointer-events: none;
*/	}
h2 { font-size: 1.25em; margin-top: 4px; font-style: italic; text-align: left}
/*div#container div#containerinner {position: absolute; margin-left: 860;}*/
div#container div#titleblock { position: absolute; }
div#container div#logos { position: absolute; bottom: 20; left: 20; z-index: 5;}
div#container div#pinchelines { position: absolute; width: 4px; background: url(../art/placeholder_dots.png) repeat-y; }
div#container div#bodytext { position: absolute; margin-right: 20px; text-align: left; width: 520px; }
div#container div#bodytext p { margin: 1em 0; font-size: .9em;}
div#container div#bodytext p.credits { margin-top: 3em; }
div#audiodiv { display: none; }
div#container div#preaching { position: absolute; text-align: left; }
div#container div#preaching ul { margin-top: 4px; }
div#container div#preaching ul li { float: left; margin-right: 12px; }
div#container div#legacy { left: 20; width: 300px; padding: 2px; position: absolute; height: 220px; font-size: 1.3em; }
div#container div#legacy:hover { color: #fbb03b; }
div#container div#cradle { left: 20; padding: 2px; width: 300px; position: absolute; font-size: 1.3em; }
div#container div#cradle { display: block; width: auto; background: #ecda50 url(../art/c_bg.jpg); }
div#container div#cradle:hover { color: #fbb03b; }
/*
div#container div#home_button { position: absolute; bottom: 30; right: 30; display: none;}
div#container div#home_button img { width: 40px; height: 35px;}

div#container #navigation {position: relative; }
*/
div#container div#home_button { position: absolute; bottom: 30; right: 30; z-index: 5;}
div#container div#home_button img { width: 40px; height: 35px;}
div #canvas_container {
	width: auto;
	position: absolute;
	z-index: 1;
	pointer-events:visible;
}

div #cradleContent {
	width: auto;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	text-align: right;
	pointer-events: none;
}

div #legacyContent {
	width: auto;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	text-align: right;
	pointer-events: none;
}
div #svggroup {
	position: absolute;
	top: 0px;
	left: 0px;
}
div #peripheryContent {
	width: auto;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	text-align: right;
	pointer-events: none;
}

