/*
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, th, td { margin:0; padding:0; font-family: "EB Garamond","Helvetica Neue", sans-serif; }
table { border-collapse:collapse; border-spacing:0 }
iframe { border: 0; margin: 0; padding: 0; }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/*body { background: #000; color: #fff; }
*/
div#browserno { background-color: #f00; width: 100%; text-align: center; position: absolute; z-index: 99402; top: 0; left: 0; }
div#browserno div.padded { padding: 30px 20px 10px 20px; font-size: 1.2em; color: #fff; }
/*div#legacy_container { height: 98%; text-align: center; position: relative; padding: 20px; width: 98%; }
*/
div.cradle_top { 
	text-align: center; 
	background: #ecda50 url(../../art/c_bg.jpg) repeat-x; 
	width: 100% ; height: 98%; 
	position: relative }
div#cradle_main { 
	position: relative; 
	width: 100%; height: 100%; 
	text-align: center; 
	background: #000;
	pointer-events: all;
	z-index: 10}
div.cradle_bottom { 
	text-align: center; 
	background: #ead84e url(../../art/c_bg_b.jpg) bottom left repeat-x; 
	width: 100%; 
	height: 100%;
	position: relative ; 
	clear: both;
	pointer-events: all;}
div.cradle_bottom div.inner { padding: 30px 0 30px 0; }
div#cradle_main div#c_instructions { position: absolute; z-index: 800; cursor: pointer; background: rgba(0,0,0,.6); width: 760px; padding: 150px 100px 160px 100px; height: 230px; text-align: center; }
div#cradle_main div#c_instructions span#swifter { width: 187px; height: 540px; z-index: 1; left: 388; top: 0; position: absolute; background: url(../../art/cradle/instructions_spin.png); }
div#cradle_main div#c_instructions span#cradleplay2 { position: absolute; cursor: pointer; z-index: 5; pointer-events: all; bottom: 40; right: 425;}
div#cradle_main div#c_instructions p { position: relative; font-size: 1.4em; }
div#cradle_main div#c_instructions p#crad_0 { top: -80; }
div#cradle_main div#c_instructions p#crad_1 { color: #eddb58; top: 70; left: -277;}
div#cradle_main div#c_instructions p#crad_2 { color: #eddb58; top: 40; left: 230; }
div#cradle_main div#c_instructions p#crad_3 { top: 180; }
div#cradle_top h1 { color: #000; padding-top: 8px; font-size: 2.1em; }
div#cradle_bottom h2 { color: #000; padding-bottom: 8px; font-size: 1.6em; text-align: center; }
div.cradle_top div.cradleplay { position: absolute; width: 127px; height: 45px; cursor: pointer; z-index: 5; background: url(../../art/f_playbutton.png); pointer-events: all; }
.more_button {
	position: absolute; 
	width: 127px; 
	height: 45px; 
	cursor: pointer;
	pointer-events: all;
}
#cradlemore { z-index: 5; background: url(../../art/more_button.png) no-repeat;}
div.cradle_top div#cradle_line { background: url(../../art/cradle/b_line.png) repeat-y; width: 3px; position: absolute; }
div.cradle_bottom div#cradle_bottomline { z-index: 1; background: url(../../art/cradle/b_line.png) repeat-y; width: 3px; position: absolute; }
div.cradle_bottom div#cradle_bottomtitle { z-index: 1; position: absolute; bottom: 25; width: 100%; text-align: center; }
div.cradle_bottom div#cbottom_structure { z-index: 2; position: absolute; width: 930px; height: 465px; background: url(../../art/cradle/bottomstructure.png); }
div.cradle_bottom div#cbottom_structure div { text-align: left;  padding: 40px;  color: #000; }
div.cradle_bottom div#cbottom_structure div p { margin: 1.1em 0; }
div.cradle_bottom div#cbottom_structure div a { color: #000; }
div.cradle_bottom div#cbottom_structure div.cbottom_l { color: #ead84e; width: 385px; float: left; margin-right: 40px; }
div.cradle_bottom div#cbottom_structure div.cbottom_l a { color: #ead84e; }
div#cradle_main div#cradle_linewhite { background: url(../../art/cradle/b_linewhite.png) repeat-y; width: 3px; position: absolute; z-index: 1; }
div.cradle_top div#cradle_structure { 
	width: 731px; 
	height: 463px; 
	padding-top: 80px; 
	text-align: left; 
	position: absolute; 
	top: 0; left: 25%; 
	z-index: 3; 
	color: #ecda50; 
	background: url(../../art/cradle/structurebg.png) no-repeat ; }
div.cradle_top div#cradle_structure div { width: 306px; height: 89px; padding: 20px 30px 20px 30px; position: absolute; }
div.cradle_top div#cradle_structure div#c_c { left: 366; top: 235; } 
div.cradle_top div#cradle_structure div#c_d { top: 355; }
div.cradle_top div#cradle_structure div#c_b { left: 366; color: #000; }
div.cradle_top div#cradle_structure div#c_a {  }

#cradle_wrapper .more_button{
	/*color:blue;*/
}

#legacyContent .more_button{
	/*color:green;*/
}

.more_button{
	position: absolute;
	width:127px;
	height: 45px;
	cursor: pointer;
	z-index: 5;
	pointer-events: all;
}

div#cradle_main #c_outerouter {
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 10;
}

div#cradle_main #c_outerouter div#home_button img { width: 40px; height: 35px;}

div#cradle_main #c_outerouter #c_outerinner {
	height: 555px;
	margin: 0 auto;
	position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
	text-align: left;
	width:975px;	
}


#c_outerinner #c_container {
	position: relative;
	height: 550px;
	width: 960px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
	perspective: 1000;	
	-webkit-perspective: 1000;	
	 z-index: 1;
}

#c_outerinner #c_container #mobilevideo {
	position: absolute;
	height: 540px;
	width: 960px;
	z-index: 8;
}

#c_outerinner #c_container #card {
	overflow: visible !important;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
	transform-style: preserve-3d;
	transition: all .5s linear;
	transform-origin: 50% 0 inherit;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all .5s linear;
	-webkit-transform-origin: 50% 0 0 inherit;
}

/*
#c_outerinner #c_container #card div#cradle1 img, #outerinner #c_container #card div#cradle0 img {
	-webkit-filter: blur(4px);
} */

#c_outerinner #c_container #cardover {
	position: absolute;
	z-index: 45;
	top: 0;
	left: 0;
	background-color: #f00;
	opacity: .2;
	width: 960px;
	height: 540px;
}

#c_outerinner #c_container #leftbutton {
	z-index: 40;
	display: block; 
	position: absolute; 
	left: -60; top: 250; 
	height: 62px; width: 46px; 
	background: url(../../art/cradle/left-arrow-big.png) no-repeat;

}

#c_outerinner #c_container #rightbutton {
	z-index: 40;
	display: block; 
	position: absolute; 
	left: 975; top: 250; 
	height: 62px; width: 46px; 
	background: url(../../art/cradle/right-arrow-big.png) no-repeat;
}

#c_outerinner #c_container div.buttonoff {
	opacity: .2;
}

#c_outerinner #c_container div.buttonon {
	opacity: .6;
	cursor: pointer;
}

#c_outerinner #c_container div.buttonon:hover {
	opacity: 1;
}




#c_outerinner #c_container #card div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}	

#c_outerinner #c_container #card div.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	left: 960;
}

#c_outerinner #c_container #card.flipped {
	transform: translateX( -100% ) rotateY( -180deg );
	-webkit-transform: translateX( -100% ) rotateY( -180deg );
}

#c_outerinner #c_controls #c_scrubber {
	width: 900px;
	float: right;
	margin: 17px 15px 9px 0px;
	height: 2px; background-color: #888; position: relative;
}

#c_outerinner #c_controls #c_scrubber #c_progress {
	width: 0;
	position: absolute;
	height: 2px;
	top: 0;
	background-color: #eddb58;
}

#textLeft{
	width: 480px;
	float: left;	
}
#textRight{
	width: 480px;
	float: right;	
}
.clear{
	clear: both;
}

#c_outerinner #c_controls #c_playElement{
	display: block;
	float: left;
	cursor: pointer;
	width: 27px;
	height: 38px;
}

.playYellow {
	background-image: url(../../art/cradle/playYellow.png);
}

.pauseYellow {
	background-image: url(../../art/cradle/pauseYellow.png);
}

.playWhite {
	background-image: url(../../art/cradle/playWhite.png);
}

.pauseWhite {
	background-image: url(../../art/cradle/pauseWhite.png);
}

#c_outerinner #c_controls #c_refresh{
	display: block;
	float: left;
	cursor: pointer;
	width: 27px;
	height: 38px;
	background: url(../../art/cradle/refresh_yellow.png);
}

#c_play_bg {
	background: url(../../art/cradle/play_bg.png);
	width: 155px;
	height: 155px;
	position: absolute;
	z-index: 100;
	left: 404;
	top: 200;
	cursor: pointer;
}

#c_play_bg_back {
	background: url(../../art/cradle/play_bg.png);
	width: 155px;
	height: 155px;
	position: absolute;
	z-index: 100;
	left: 404;
	top: 200;
	cursor: pointer;
}

#c_play_instructions {
	background: url(../../art/cradle/play_bg.png);
	width: 155px;
	height: 155px;
	position: absolute;
	z-index: 10;
	left: 404;
	top: 200;
}

#c_outerinner #c_endscreen {
	position: relative;
	height: 504px;
	width: 900px;
	 z-index: 1;
	margin: 0 auto;
}

#c_outerinner #c_endscreen div#c_person_a {
	width: 445px;
	height: 504px;
	position: absolute;
	z-index: 1;	
	background: url(../../art/cradle/endscreen_a.jpg);
	top: 0;
	left: 0;
}

#c_outerinner #c_endscreen div#c_person_b {
	width: 445px;
	height: 504px;
	position: absolute;
	z-index: 1;	
	background: url(../../art/cradle/endscreen_b.jpg);
	top: 0;
	left: 445;
}

#c_outerinner #c_endscreen div#c_people_data {
	position: absolute;
	z-index: 2;	
	height: 504px;
	left: 0;
	width: 890px;
}

#c_outerinner #c_endscreen div#c_people_data div {
	background-color: #000;
	width: 445px;
	position: absolute;
}

#c_outerinner #c_endscreen div#c_person_overlay {
	width: 507px;
	height: 509px;
	z-index: 3;
	position: absolute;
	left: 190;
	height: 90px;
	cursor: pointer;
	width: 307px;
	text-align: center;
	padding: 199px 100px 218px 100px;
	font-size: 1.3em;
	background: url(../../art/cradle/obscuredots.png);
}

#c_outerinner #c_endscreen div#c_person_overlay:hover {
	color: #eddb58;
}

#cradle_main div#c_legmore { position: absolute; z-index: 10; bottom: 60; width: 127px; height: 45px; cursor: pointer; background: url(../../art/cradle/leg_more.png); }

#cradle_wrapper {
	position: relative;
	width: auto;
	height: auto;
	transform-origin: 0 0 0;
}

#cradle_main .home_button {
	z-index: 10; opacity: 0.5;
}
