*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, th, td { margin:0; padding:0; font-style: italic; font-family: "IM Fell English","Helvetica Neue", sans-serif; }
table { border-collapse:collapse; border-spacing:0 }
iframe { border: 0; margin: 0; padding: 0; }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

body {
	background: #000;
	color: #fff;
}

div#container { height: 98%; text-align: center; position: relative; padding: 20px; width: 98%; }
div.yellow { text-align: center; background: #fbb03b url(../art/leg_bg.jpg) no-repeat; width: 100%; height: 98%; position: relative }
div.yellow_b { text-align: center; background: #fbb03b url(../art/leg_bg2.jpg) bottom left no-repeat; width: 100%; padding: 30px 0 30px 0; position: relative }
h1 { padding-top: 84px; }
div.yellow_b p { text-align: left; width: 700px; margin: 1em auto; color: #000 }
div.mystical { text-align: left; background: url(../art/leg_overlay.png) no-repeat 220px 8px; position: relative; margin: auto; width: 790px; height: 500px; overflow: auto; }
div.mystical p { position: absolute; color: #000; font-size: 18px; margin: 0; padding: 0; }
div.mystical p#a { top: 0px; left: 305px; z-index: 1; }
div.mystical p#b { top: 170px; left: 575px; width: 200px; z-index: 2; }
div.mystical p#c { top: 355px; left: 240px; }
div.mystical p#d { top: 170px; left: 55px; z-index: 3; }
div.mystical p#e { top: 160px; left: 305px; width: 200px; text-align: center; }
div.mystical p#f { top: 425px; width: 520px; left: 150px; text-align: center; }
div.yellow div.play { position: absolute; bottom: 60; width: 127px; height: 45px; cursor: pointer; background: url(../art/leg_play.png); }
div#container div.more { position: absolute; bottom: 60; width: 127px; height: 45px; cursor: pointer; background: url(../art/leg_more.png); }
div#container:-webkit-full-screen { background-color: #000; width: 100%; height: 100%; }
div#container:-moz-full-screen { background-color: #000; width: 100%; height: 100%; }
div#container:-o-full-screen { background-color: #000; width: 100%; height: 100%; }
div#container:full-screen { background-color: #000; width: 100%; height: 100%; }
div#container div#debugmsg { background-color: #f00; display: block; position: absolute; top: 0; z-index: 900; font-size: 2em; width: 100%; padding: 5px; color: #fff; }
div#container div#containerinner { height: 100%; position: relative; }
div#container div#containerinner div#lg_fs { position: absolute; z-index: 35; bottom: 0; right: 0; padding: 10px; cursor: pointer; }
div#container div#lg_fs:hover { color: #f00; }
div#container div#containerinner div.videoplayer { position: absolute;  z-index: 23 }
div#container div#containerinner div#icongroup div.icon { pointer-events: auto; position: absolute; display: block; width: 30px; height: 30px; }
div#container div#containerinner div#icongroup div.ga { background: url(../art/iconpanel.png); cursor: pointer; }
div#container div#containerinner div#icongroup div.ga_off { background: url(../art/iconpanel.png) -30 0; }
div#container div#containerinner div#icongroup div.ga:hover, div#container div#containerinner div#icongroup div.ga_on { background: url(../art/iconpanel.png) -60 0;  }
div#container div#containerinner div#icongroup div.gb { background: url(../art/iconpanel.png) 0 -48; cursor: pointer; }
div#container div#containerinner div#icongroup div.gb_off { background: url(../art/iconpanel.png) -30 -48; }
div#container div#containerinner div#icongroup div.gb:hover, div#container div#containerinner div#icongroup div.gb_on { background: url(../art/iconpanel.png) -62 -48;  }
div#container div#containerinner div#icongroup div.gc { background: url(../art/iconpanel.png) 0 -98; cursor: pointer; }
div#container div#containerinner div#icongroup div.gc_off { background: url(../art/iconpanel.png) -30 -98; }
div#container div#containerinner div#icongroup div.gc:hover, div#container div#containerinner div#icongroup div.gc_on { background: url(../art/iconpanel.png) -62 -98;  }
div#container div#containerinner div#icongroup div.gd { background: url(../art/iconpanel.png) 0 -153; cursor: pointer; }
div#container div#containerinner div#icongroup div.gd_off { background: url(../art/iconpanel.png) -30 -153; }
div#container div#containerinner div#icongroup div.gd:hover, div#container div#containerinner div#icongroup div.gd_on { background: url(../art/iconpanel.png) -65 -153;  }
div#container div#containerinner div#linegroup { position: absolute; z-index: 25; pointer-events: none; }
div#container div#containerinner div#icongroup { position: absolute; z-index: 26; pointer-events: none; }
div#container div#containerinner div#linegroup path.playback { stroke: #fbb03b; stroke-width: 2px; }
div#container div#containerinner div#linegroup path.scrubber { stroke: #fff; stroke-width: 1px; }
div#container div#containerinner div#linegroup path.scrubber_seen { stroke: #fbb03b; stroke-width: 1px; }
div#container div#containerinner div#linegroup path.scrubber_gone { stroke: #111111; stroke-width: 1px; }
div#container div#containerinner div#linegroup path.transition_unused { stroke: #333; stroke-width: 1px; }
div#container div#containerinner div#linegroup path.transition_hot { stroke: #fff; stroke-width: 1px; }
div#container div#containerinner div#linegroup path.transition_used { stroke: #fbb03b; stroke-width: 1px; }
div#container div#containerinner div#playback { position: absolute; z-index: 1; pointer-events: none; }
div#container div#containerinner div.videospace { z-index: 68; text-align: center; position: absolute; }
div#container div#containerinner div.videospace div.blurb { display: none; }
div#container div#containerinner div.videospace div.blurbback { display: none; }
div#container div#containerinner div.videospace:hover div.blurbback { cursor: pointer; width: 100%; height: 100%; opacity: .8; background-color: #faaf3b; display: block; position: absolute; z-index: 1; }
div#container div#containerinner div.videospace:hover div.blurb { cursor: pointer; width: 80%; height: 40%; padding: 20% 10% 20% 10%; color: #fff; text-align: center; position: absolute; display: block; z-index: 2; }
div#container div#containerinner div.videospace:hover div.blurb h2 { font-size: 3em; }
div#container div#containerinner div.videospace:hover div.blurb p { margin-top: 1em; }
div#container div#containerinner div#vid_0 { z-index: 1; width: 45%; height: 42%; left: 10px; background: url(../art/indonesia.jpg) no-repeat center center; }
div#container div#containerinner div#vid_1 { z-index: 2; width: 45%; height: 42%; right: 10px;  background: url(../art/india.jpg) no-repeat center center; }
div#container div#containerinner div#vid_2 { z-index: 3; width: 45%; height: 42%; top: 44%; right: 10px; background: url(../art/southafrica.jpg) no-repeat center center; }
div#container div#containerinner div#vid_3 { z-index: 4; width: 45%; height: 42%; top: 44%; left: 10px; background: url(../art/srilanka.jpg) no-repeat center center;}
div#container div.videospace video.squares { width: 24%; height: 24%; }